<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Users / Profile - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {{ url_for('static',filename='assets1/img/favicon.png')}} " rel="icon">
  <link href="{{ url_for('static',filename='assets1/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static',filename='assets1/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets1/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets1/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets1/vendor/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets1/vendor/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets1/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets1/vendor/simple-datatables/style.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',filename='assets1/css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/home" class="logo d-flex align-items-center">
        <img src="{{url_for('static',filename='assets1/img/logo.png')}}" alt="">
        <span class="d-none d-lg-block"  >स्वास्थ्य संवाद</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <label for="location">location:</label>
        <input type="text" name="location" placeholder="choose a location" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    {% for doc in doc %}
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{{ url_for('static',filename='assets1/img/docprofile2.jpg') }}" alt="Profile" class="rounded-circle">
              <h2>{{ doc[1] }}</h2>
              <h3>{{ doc[7] }}</h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit ">Make An Appointment</button>
                </li>

                <!-- <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li> -->

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <!-- <h5 class="card-title">About</h5>
                  <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p> -->

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{ doc[1] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Age</div>
                    <div class="col-lg-9 col-md-8">{{ doc[2] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Gender</div>
                    <div class="col-lg-9 col-md-8">{{ doc[3] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Hospital</div>
                    <div class="col-lg-9 col-md-8">{{ doc[9] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8">{{ doc[8] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ doc[4] }}</div>
                  </div>

                </div>
                
                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form method="POST">
                    <div class="row mb-3">
                      <label for="fullname" class="col-md-4 col-lg-3 col-form-label">OPD</label>
                    </div>
                    <div class="row mb-3">
                      <label for="fullname" class="col-md-4 col-lg-3 col-form-label">Day</label>
                      <div class="col-md-8 col-lg-9">
                      <label for="fullname" class="col-md-4 col-lg-3 col-form-label">Mon-Fri</label>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="fullname" class="col-md-4 col-lg-3 col-form-label">Time</label>
                      <div class="col-md-8 col-lg-9">
                      <label for="fullname" class="col-md-4 col-lg-3 col-form-label">8:00AM-4:00PM</label>
                      </div>
                    </div>

                    
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary"><a href="/appoint" class="btn btn-primary w-100">Make An Appointment</a> </button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>
    {% endfor %}
    
  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
 <!-- Vendor JS Files -->
 <script src="{{ url_for('static',filename='assets1/vendor/apexcharts/apexcharts.min.js')}}"></script>
 <script src="{{ url_for('static',filename='assets1/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
 <script src="{{ url_for('static',filename='assets1/vendor/chart.js/chart.umd.js')}}"></script>
 <script src="{{ url_for('static',filename='assets1/vendor/echarts/echarts.min.js')}}"></script>
 <script src="{{ url_for('static',filename='assets1/vendor/quill/quill.min.js')}}"></script>
 <script src="{{ url_for('static',filename='assets1/vendor/simple-datatables/simple-datatables.js')}}"></script>
 <script src="{{ url_for('static',filename='assets1/vendor/tinymce/tinymce.min.js')}}"></script>
 <script src="{{ url_for('static',filename='assets1/vendor/php-email-form/validate.js')}}"></script>
 <!-- Template Main JS File -->
 <script src="{{url_for('static',filename='assets1/js/main.js')}}"></script>

</body>

</html>